*,
*::before,
*::after {
  box-sizing: border-box;

  /* GLOBAL VARIABLES  */
  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-dark-desaturated-blue: hsl(229, 23%, 23%);
  --clr-dark-grayish-blue: hsl(227, 10%, 46%);
  --clr-dark-gray: hsl(0, 0%, 59%);
}
html {
  height: 100%;
}

body {
  background-color: var(--clr-dark-cyan);
  display: flex;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;

  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 48vw bottom 29vh, left 48vw top 28vh;
}

.main-card {
  margin: 0 auto;
}
.wrapper {
  background-color: white;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}
.header__img {
  background-image: url(./images/bg-pattern-card.svg);
  background-color: var(--clr-dark-cyan);
  background-blend-mode: overlay;
  opacity: 0.7;
  min-width: 15rem;
  min-height: 8rem;
}
.header__avatar {
  display: flex;
  justify-content: center;
  position: relative;
}
.avatar__img {
  height: 100px;
  border: 4px solid white;
  border-radius: 50%;
  margin-top: -52px;
}
.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--clr-dark-gray);
}
.card__content p {
  color: var(--clr-dark-gray);
}
.card__content p::before {
  content: "Victor Crest";
  color: var(--clr-dark-desaturated-blue);
  font-weight: 700;
  padding-right: 0.5rem;
}
.card__content p::after {
  content: "London";
  color: var(--clr-dark-gray);
  font-weight: 400;
  font-size: 0.75rem;
  display: block;
}
.card__line {
  height: 0.5px;
  width: 100%;
  background-color: var(--clr-dark-gray);
  opacity: 0.4;
}
.stats__card {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  color: var(--clr-dark-desaturated-blue);
  font-size: 1rem;
}
.stats__card li {
  padding: 1rem 2rem 1rem 0;
}
.stats__card li:last-child {
  padding-right: 0;
}

.stats__card li::after {
  display: block;
  text-align: center;
  color: var(--clr-dark-gray);
  font-size: 0.5rem;
  letter-spacing: 0.1em;
}
li:first-child::after {
  content: "Followers";
}
li:nth-child(2)::after {
  content: "Likes";
}
li:last-child::after {
  content: "Photos";
}

@media (min-width: 40em) {
  .body {
    background-position: right 49vw bottom 41vh, left 45vw top 50vh;
  }
}
