*,
*::before,
*::after {
  box-sizing: border-box;

  /* GLOBAL VARIABLES  */
  --clr-dark-cyan: hsl(185, 75%, 39%);
  --clr-dark-desaturated-blue: hsl(229, 23%, 23%);
  --clr-dark-grayish-blue: hsl(227, 10%, 46%);
  --clr-dark-gray: hsl(0, 0%, 59%);

  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin: 0;
  background-color: gray;
  display: flex;
  justify-content: center;
}
.main-card {
  margin: 14rem 2rem;
  position: relative;
  width: 400px;
  height: 700px;
  border: 2px solid red;
  overflow: hidden;
}
.top-img {
  position: absolute;
  /* top: -26%;
  left: -52%; */
  width: 100%;
}
.bottom-img {
  position: absolute;
  bottom: -30%;
  left: 49%;
  width: 100%;
}
